@{
    ViewData["Title"] = "About";
}

<h1>Welcome to UKSF</h1>
<p>
    Welcome to the UKSF ArmA 3 Milsim Unit homepage. We are a like-minded community dedicated to fun, immersion and professionalism. The unit is based on a real task force responsible for British special forces missions around the globe. As a result, you can expect to carry out a multitude of mission types in a variety of environments using a broad spectrum of skills.
    <br />
    The unit recruits people aged 16+ from all backgrounds. While we teach our members to be better tacticians, better rifleman, better pilots and generally speaking, better soldiers, we are not for the casual ArmA player.
    <br />
    Like the Task Force we're based on, applicants are expected to have that bit 'more' about themselves, bringing their own unique skills and qualities to the unit. As a start, successful applicants are expected to:
    <ul>
        <li>- Be mature, regardless of age</li>

        <li>- Have a positive attitude</li>

        <li> - Have a desire to learn</li>

        <li>- Have a willingness to improve</li>

        <li>- Have an ability to take criticism</li>
    </ul>
    These qualities drive our successful approach to ArmA 3 Milsim, and are what makes the unit what it is. In addition, we believe that everyone, regardless of experience and skills brings 'something' to the unit.
    <br />
    Please feel free to browse our website and click on the Forums tab to browse through our public sections. Alternatively, please feel free to connect to our TeamSpeak anytime and speak to an SR1 Officer: Teamspeak
    <br />
    Regards,
    <br />
    UKSF Command Staff
</p>
