<div id="News"></div>
<section id="blog-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="row">
          <div class="col-lg-6 col-md-6">
            <aside>
              <img src="http://i.imgur.com/Db5IOw3.jpg" class="img-responsive">
              <div class="content-title">
                <div class="text-center">
                  <h3><a href="#">Operation Bastion #4</a></h3>
                </div>
              </div>
              <div class="content-footer">
                <img class="user-small-img" src="http://i.imgur.com/9cfog5q.jpg">
                <span style="font-size: 16px;color: #fff;">UKSF C:Staff</span>
                <span class="pull-right">
                                    <a href="#" data-toggle="tooltip" data-placement="left" title="Comments"><i class="fa fa-comments"></i> 30</a>
                                    <a href="#" data-toggle="tooltip" data-placement="right" title="Loved"><i class="fa fa-heart"></i> 20</a>
                                </span>
              </div>
            </aside>
          </div>
          <div class="col-lg-6 col-md-6">
            <aside>
              <img src="http://i.imgur.com/wWgO9aE.jpg" class="img-responsive">
              <div class="content-title">
                <div class="text-center">
                  <h3><a href="#">Operation Bastion #3</a></h3>
                </div>
              </div>
              <div class="content-footer">
                <img class="user-small-img" src="http://i.imgur.com/9cfog5q.jpg">
                <span style="font-size: 16px;color: #fff;">UKSF C:Staff</span>
                <span class="pull-right">
                                    <a href="#" data-toggle="tooltip" data-placement="left" title="Comments"><i class="fa fa-comments"></i> 30</a>
                                    <a href="#" data-toggle="tooltip" data-placement="right" title="Loved"><i class="fa fa-heart"></i> 20</a>
                                </span>
              </div>
            </aside>
          </div>

          <div class="col-lg-6 col-md-6">
            <aside>
              <img src="http://i.imgur.com/w8nHXHu.jpg" class="img-responsive">
              <div class="content-title">
                <div class="text-center">
                  <h3><a href="#">Operation Bastion #2</a></h3>
                </div>
              </div>
              <div class="content-footer">
                <img class="user-small-img" src="http://i.imgur.com/9cfog5q.jpg">
                <span style="font-size: 16px;color: #fff;">UKSF C:Staff</span>
                <span class="pull-right">
                                    <a href="#" data-toggle="tooltip" data-placement="left" title="Comments"><i class="fa fa-comments"></i> 30</a>
                                    <a href="#" data-toggle="tooltip" data-placement="right" title="Loved"><i class="fa fa-heart"></i> 20</a>
                                </span>
              </div>
            </aside>
          </div>

          <div class="col-lg-6 col-md-6">
            <aside>
              <img src="http://i.imgur.com/joVJt0G.jpg" class="img-responsive">
              <div class="content-title">
                <div class="text-center">
                  <h3><a href="#">Operation Bastion #1</a></h3>
                </div>
              </div>
              <div class="content-footer">
                <img class="user-small-img" src="http://i.imgur.com/9cfog5q.jpg">
                <span style="font-size: 16px;color: #fff;">UKSF C:Staff</span>
                <span class="pull-right">
                                    <a href="#" data-toggle="tooltip" data-placement="left" title="Comments"><i class="fa fa-comments"></i> 30</a>
                                    <a href="#" data-toggle="tooltip" data-placement="right" title="Loved"><i class="fa fa-heart"></i> 20</a>
                                </span>
              </div>
            </aside>
          </div>

          <div class="col-lg-6 col-md-6">
            <aside>
              <img src="http://i.imgur.com/36STAn7.png" class="img-responsive">
              <div class="content-title">
                <div class="text-center">
                  <h3><a href="#">Operation Dusty Bishop #3</a></h3>
                </div>
              </div>
              <div class="content-footer">
                <img class="user-small-img" src="http://i.imgur.com/9cfog5q.jpg">
                <span style="font-size: 16px;color: #fff;">UKSF C:Staff</span>
                <span class="pull-right">
                                    <a href="#" data-toggle="tooltip" data-placement="left" title="Comments"><i class="fa fa-comments"></i> 30</a>
                                    <a href="#" data-toggle="tooltip" data-placement="right" title="Loved"><i class="fa fa-heart"></i> 20</a>
                                </span>
              </div>
            </aside>
          </div>

          <div class="col-lg-6 col-md-6">
            <aside>
              <img src="http://i.imgur.com/PAsVn5f.png" class="img-responsive">
              <div class="content-title">
                <div class="text-center">
                  <h3><a href="#">Operation Dusty Bishop #2</a></h3>
                </div>
              </div>
              <div class="content-footer">
                <img class="user-small-img" src="http://i.imgur.com/9cfog5q.jpg">
                <span style="font-size: 16px;color: #fff;">UKSF C:Staff</span>
                <span class="pull-right">
                                    <a href="#" data-toggle="tooltip" data-placement="left" title="Comments"><i class="fa fa-comments"></i> 30</a>
                                    <a href="#" data-toggle="tooltip" data-placement="right" title="Loved"><i class="fa fa-heart"></i> 20</a>
                                </span>
              </div>
            </aside>
          </div>

          <div class="col-lg-6 col-md-6">
            <aside>
              <img src="http://i.imgur.com/O7zkPWt.jpg" class="img-responsive">
              <div class="content-title">
                <div class="text-center">
                  <h3><a href="#">Training - BCT #23</a></h3>
                </div>
              </div>
              <div class="content-footer">
                <img class="user-small-img" src="http://i.imgur.com/9cfog5q.jpg">
                <span style="font-size: 16px;color: #fff;">UKSF C:Staff</span>
                <span class="pull-right">
                                    <a href="#" data-toggle="tooltip" data-placement="left" title="Comments"><i class="fa fa-comments"></i> 30</a>
                                    <a href="#" data-toggle="tooltip" data-placement="right" title="Loved"><i class="fa fa-heart"></i> 20</a>
                                </span>
              </div>
            </aside>
          </div>

          <div class="col-lg-6 col-md-6">
            <aside>
              <img src="http://i.imgur.com/aq9oAOx.png" class="img-responsive">
              <div class="content-title">
                <div class="text-center">
                  <h3><a href="#">Operation Boomstick #2</a></h3>
                </div>
              </div>
              <div class="content-footer">
                <img class="user-small-img" src="http://i.imgur.com/9cfog5q.jpg">
                <span style="font-size: 16px;color: #fff;">UKSF C:Staff</span>
                <span class="pull-right">
                                    <a href="#" data-toggle="tooltip" data-placement="left" title="Comments"><i class="fa fa-comments"></i> 30</a>
                                    <a href="#" data-toggle="tooltip" data-placement="right" title="Loved"><i class="fa fa-heart"></i> 20</a>
                                </span>
              </div>
            </aside>
          </div>
        </div>
      </div>

      <!--           // RECENT POST===========-->
      <div class="col-lg-4">
        <div class="widget-sidebar">
          <h2 class="title-widget-sidebar">// RECENT POST</h2>
          <div class="content-widget-sidebar">
            <ul>
              <li class="recent-post">
                <div class="post-img">
                  <img src="http://i.imgur.com/Db5IOw3.jpg" class="img-responsive">
                </div>
                <a href="#"><h5>Operation Bastion #4</h5></a>
                <p><small><i class="fa fa-calendar" data-original-title="" title=""></i> 30 Juni 2014</small></p>
              </li>
              <hr>

              <li class="recent-post">
                <div class="post-img">
                  <img src="http://i.imgur.com/wWgO9aE.jpg" class="img-responsive">
                </div>
                <a href="#"><h5>Operation Bastion #3</h5></a>
                <p><small><i class="fa fa-calendar" data-original-title="" title=""></i> 30 Juni 2014</small></p>
              </li>
              <hr>

              <li class="recent-post">
                <div class="post-img">
                  <img src="http://i.imgur.com/w8nHXHu.jpg" class="img-responsive">
                </div>
                <a href="#"><h5>Operation Bastion #2</h5></a>
                <p><small><i class="fa fa-calendar" data-original-title="" title=""></i> 30 Juni 2014</small></p>
              </li>
              <hr>

              <li class="recent-post">
                <div class="post-img">
                  <img src="http://i.imgur.com/joVJt0G.jpg" class="img-responsive">
                </div>
                <a href="#"><h5>Operation Bastion #1</h5></a>
                <p><small><i class="fa fa-calendar" data-original-title="" title=""></i> 30 Juni 2014</small></p>
              </li>


            </ul>
          </div>
        </div>

        <div class="widget-sidebar">
          <h2 class="title-widget-sidebar">// ARCHIVES</h2>
          <div class="last-post">
            <button class="accordion">21/4/2016</button>
            <div class="panel">
              <li class="recent-post">
                <div class="post-img">
                  <img src="https://lh3.googleusercontent.com/-13DR8P0-AN4/WM1ZIz1lRNI/AAAAAAAADeo/XMfJ7CM-pQg9qfRuCgSnphzqhaj3SQg6QCJoC/w424-h318-n-rw/thumbnail4.jpg" class="img-responsive">
                </div>
                <a href="#"><h5>Excepteur sint occaecat cupi non proident laborum.</h5></a>
                <p><small><i class="fa fa-calendar" data-original-title="" title=""></i> 30 Juni 2014</small></p>
              </li>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.   Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
          </div>
          <hr>
          <div class="last-post">
            <button class="accordion">5/7/2016</button>
            <div class="panel">
              <li class="recent-post">
                <div class="post-img">
                  <img src="https://lh3.googleusercontent.com/-QlnwuVgbxus/WM1ZI1FKQiI/AAAAAAAADeo/nGSd1ExnnfIfIBF27xs8-EdBdfglqFPZgCJoC/w424-h318-n-rw/thumbnail2.jpg" class="img-responsive">
                </div>
                <a href="#"><h5>Excepteur sint occaecat cupi non proident laborum.</h5></a>
                <p><small><i class="fa fa-calendar" data-original-title="" title=""></i> 30 Juni 2014</small></p>
              </li>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.   Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
          </div>
          <hr>
          <div class="last-post">
            <button class="accordion">15/9/2016</button>
            <div class="panel">
              <li class="recent-post">
                <div class="post-img">
                  <img src="https://lh3.googleusercontent.com/-wRHL_FOH1AU/WM1ZIxQZ3DI/AAAAAAAADeo/lwJr8xndbW4MHI-lOB7CQ-14FJB5f5SWACJoC/w424-h318-n-rw/thumbnail5.jpg" class="img-responsive">
                </div>
                <a href="#"><h5>Excepteur sint occaecat cupi non proident laborum.</h5></a>
                <p><small><i class="fa fa-calendar" data-original-title="" title=""></i> 30 Juni 2014</small></p>
              </li>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.   Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
          </div>
          <hr>
          <div class="last-post">
            <button class="accordion">2/3/2017</button>
            <div class="panel">
              <li class="recent-post">
                <div class="post-img">
                  <img src="https://lh3.googleusercontent.com/-QlnwuVgbxus/WM1ZI1FKQiI/AAAAAAAADeo/nGSd1ExnnfIfIBF27xs8-EdBdfglqFPZgCJoC/w424-h318-n-rw/thumbnail2.jpg" class="img-responsive">
                </div>
                <a href="#"><h5>Excepteur sint occaecat cupi non proident laborum.</h5></a>
                <p><small><i class="fa fa-calendar" data-original-title="" title=""></i> 30 Juni 2014</small></p>
              </li>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.   Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
          </div>
        </div>

        <!--=====================
               CATEGORIES
          ======================-->
        <div class="widget-sidebar">
          <h2 class="title-widget-sidebar">// CATEGORIES</h2>
          <button class="categories-btn">Operations</button>
          <button class="categories-btn">Announcements</button>
          <button class="categories-btn">Media</button>
          <button class="categories-btn">Others</button>
        </div>

      </div>
    </div>
  </div>

</section>
